# This is the ignore file for the entire monorepo; Docker does not pay attention
# to any .dockerignore outside of the context root:
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# ignore these in the root directory
*~
charts/*
ci/*
CONTRIBUTING.md
.dockerignore
docs/*
.git*
LICENSE
README.md
renovate.json
.styles/*

# ignore these comet directories
comet/derivatives/*
comet/docker-compose.yaml
comet/Dockerfile
comet/.env
comet/fits.log
comet/.git
comet/log/*
comet/public/assets
comet/tmp/*
comet/vendor

# ignore these starlight directories
starlight/derivatives/*
starlight/docker-compose.yaml
starlight/Dockerfile
# TODO: avoid relying on this and dotenv-rails in prod
# starlight/.env
starlight/fits.log
starlight/.git
starlight/log/*
starlight/public/assets
starlight/tmp/*
starlight/vendor
