# This is the ignore file for the entire monorepo; Docker does not pay attention
# to any .dockerignore outside of the context root:
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# ignore these in the root directory
*~
charts/*
ci/*
CONTRIBUTING.md
.dockerignore
docs/*
.git*
LICENSE
README.md
renovate.json
.styles/*

# ignore these comet directories
comet/derivatives/*
comet/docker-compose.yaml
comet/Dockerfile
comet/.env
comet/fits.log
comet/.git
comet/log/*
comet/public/*
comet/tmp/*
comet/vendor/*
