export BINARY_ROOT="{{ binary_root }}"
export DATABASE_AUTH=
export DATABASE_URL="postgres://{{ db_user }}:{{ db_pass }}@{{ db_host }}/{{ db_name }}"
export FROM_EMAIL="{{ from_email }}"
export HOSTNAME="{{ fqdn }}"
export PORT="3000"
export RAILS_ENV="production"
export RAILS_MAX_THREADS="5"
export RAILS_QUEUE="sidekiq"
export REDIS_URL="localhost:6379"
export SECRET_KEY_BASE="{{ rails_secret_key_base }}"
export SHIB_APPLICATION_ID_FIELD="{{ shib_app_id }}"
export SHIB_EMAIL_FIELD="{{ shib_email }}"
export SHIB_SESSION_ID_FIELD="{{ shib_session_id }}"
export SHIB_UID_FIELD="{{ shib_uid }}"
export SITEMAP_DEFAULT_HOST="http://localhost"
export SMTP_HOST="{{ smtp_host }}
export SOLR_URL="http://{{ solr_host }}:8983/solr/{{ solr_core }}"
