default: &default
  secret_key_base: {{ rails_secret_key_base }}
  ldap_host: {{ ldap_host }}
  ldap_user: {{ ldap_user }}
  ldap_pass: {{ ldap_pass }}
  ldap_group_base: {{ ldap_group_base }}
  ldap_filter: {{ ldap_filter }}

production:
  <<: *default
  psql_db: {{ db_name }}
  psql_host: {{ db_host }}
  psql_pass: {{ db_pass }}
  psql_user: {{ db_user }}
  solr_host: {{ solr_host }}
  smtp_host: {{ smtp_host }}
