<div>
  <div class="col col-sm-1" style="float:right;margin-right:40px;">
    <div class="input-group-btn">
      <button onClick="batch_review()" class="btn btn-primary btn-batch-workflow search-submit-header">
        <%= t("hyrax.workflows.batch_review.button_label") %>
      </button>
    </div>
  </div>
  <div class="col col-sm-4" style="float:right;">
    <%= render 'search_form' %>
  </div>
</div>

