<footer role="contentinfo">
  <div class="footer-main container">
    <div class="col-sm-12 col-md-6 footer-box">
      <div class="seal"><a href="https://library.ucsb.edu" title="UCSB Library">
        <img src="<%= image_path("themes/surfliner/Project_Surfliner_Logo_White.png") %>" 
             srcset="<%= image_path("themes/surfliner/Project_Surfliner_Logo_White@2x.png") %> 2x">
      </a></div>

      <p>A collaboration of the UC San Diego Library & the UC Santa Barbara Library</p>
    </div>

    <div class="col-sm-12 col-md-6 footer-box connect">
      <p class="label">HELPFUL LINKS</p>

      <ul class="columns columns-1">
	      <li><a href="https://surfliner.ucsd.edu/communications/">Contact US</a></li>

	      <li><a href="https://surfliner.ucsd.edu/">Blog</a></li>

	      <li><a href="https://gitlab.com/surfliner/surfliner">Code Repository</a></li>

        <li><a href="https://surfliner.gitlab.io/docs/">Project Documentation</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 copyright">
    <ul class="footer-meta">
      <li>Copyright © 2019 The Regents of the University of California. All Rights Reserved.</li>
    </ul>
  </div>
</footer>
