<div class="layout-header">
  <a class="sr-only" href="#main-content">Skip to main content</a>
  <div id="uc-emergency"></div>
  <section class="layout-login">
    <div class="layout-container"></div>
  </section>

    <section class="layout-title">
        <div class="layout-container container">
            <a href="index.html" class="title-header title-header-large">THE LIBRARY</a>
            <a href="https://www.ucsd.edu" class="title-logo">UC San Diego</a>
        </div>
    </section>
</div>