<div id="header-navbar" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only"><%= t :toggle_nav %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>

<div class="layout-header">
  <a class="sr-only" href="#main-content">Skip to main content</a>
    <section class="layout-title">
        <div class="layout-container container">
            <a href="index.html" class="title-header title-header-large">THE LIBRARY</a>
            <a href="https://www.ucsd.edu" class="title-logo">UC San Diego</a>
        </div>
    </section>
</div>