# Code Owners file for Surfliner
# This can be customized as needed:
#   https://gitlab.com/help/user/project/code_owners

# Default entry - both product teams
* @no_reply @jhriv @welp @mcritchlow1 @chrissyrissmeyer @jhilt @jhriv @lsitu @tchu1

# Lark
/lark/ @no_reply @lsitu @tchu1 @jhilt

# Starlight
/starlight/ @no_reply @jhriv @welp @mcritchlow1 @chrissyrissmeyer

# Lark
/lark/ @no_reply @lsitu @tchu1 @jhilt
