# Code Owners file for Surfliner
# This can be customized as needed:
#   https://gitlab.com/help/user/project/code_owners

# Default entry - both product teams
* @no_reply @welp @mcritchlow1 @chrissyrissmeyer @jhilt @lsitu @tchu1 @kibigo

# Lark
/lark/ @no_reply @lsitu @tchu1 @jhilt

# Starlight
/starlight/ @no_reply @welp @mcritchlow1 @chrissyrissmeyer @kibigo

# Lark
/lark/ @no_reply @lsitu @tchu1 @jhilt

# Emacs
/comet/.dir-locals.el @no_reply @welp
