/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Grid
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1230px !default;
$screen-max: 1680px !default;

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

// Mixins
@mixin center() {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: $screen-lg;
  padding-left: 15px;
  padding-right: 15px; 
  @media all and (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@mixin background-gradient-top($o, $h) {
  display: block;
  background: -moz-linear-gradient(top, rgba(0,0,0,$o) 0%, rgba(0,0,0,0) $h) !important;
  background: -webkit-linear-gradient(top, rgba(0,0,0,$o) 0%,rgba(0,0,0,0) $h) !important;
  background: linear-gradient(to bottom, rgba(0,0,0,$o) 0%,rgba(0,0,0,0) $h) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 );
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin background-gradient-bottom($o, $h) {
  display: block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,$o) $h);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,$o) $h);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,$o) $h);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Typography
@font-face {
  font-family: 'weather';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$base-font-size: 16px;
$p-line-height: 28px;
$small-font-size: 14px;
$smaller-font-size: 13px;
$smallest-font-size: 12px;

$search-font-size: 22px;

$h1-font-size: 38px;
$h2-font-size: 27px;
$h3-font-size: 21px;
$h4-font-size: $base-font-size;
$h5-font-size: 12px;
$h6-font-size: 12px;

$avenir-font-stack: Avenir, "Century Gothic", sans-serif;
$produkt-font-stack: Produkt, serif;

$avenir-light: 100;
$avenir-book: 200;
$avenir-roman: 300;
$avenir-medium: 400;
$avenir-heavy: 500;
$avenir-black: 600;

$produkt-thin: 100;
$produkt-extra-light: 200;
$produkt-light: 300;
$produkt-regular: 400;

$sans-serif: $avenir-book;
$serif: $produkt-regular;

// Colors
$white: #ffffff;
$border-gray: #dce1e5;
$dark-blue: #003660;
$mid-blue: #005aa3;
$darkest-gray: #555555;
$mid-gray: #777777;

// Primary color
$base-navy:                   #003660;
$navy-lighten-10-desat-10:    #07528c;
$navy-darken-4:               #002b4c;
$navy-lighten-70:             #c6e7ff;

// Secondary-color
$base-gold:                   #febc11;
$gold-darken-10-desat-10:     #d0990c;
$gold-lighten-24-sat-12:      #ffdf8a;

// Tertiary colors
$base-seagreen:               #0ba89a;
$base-seagreen-web:           #09847a;
$seagreen-darken-12:          #076f65;
$seagreen-lighten-32-desat-40:#83d3cc;

$base-aqua:                   #04859b;
$base-aqua-web:               #047c91;
$aqua-darken-6:               #036b7d;
$aqua-lighten-36-desat-36:    #7acedd;

$base-moss:                   #7a8d39;
$base-moss-web:               #6d7d33;
$moss-darken-8:               #61702d;
$moss-lighten-40:             #c6d495;

$base-coral:                  #ef5645;
$coral-darken-15-desat-15:    #c43424;
$coral-lighten-20:            #f7aba3;

$base-sandstone:              #c9bf9d;
$sandstone-darken-10:         #b6aa7c;
$sandstone-lighten-20:        #edeadf;

$base-clay:                   #dcd6cc;
$clay-lighten-10:             #f1eeea;

$base-mist:                   #9cbebe;
$mist-darken-10:              #7ca9a9;
$mist-lighten-20:             #dae6e6;

$lightgray-darken-80:         #111517;
$lightgray-darken-60:         #3d4952;
$lightgray-darken-45:         #5e707e;
$lightgray-darken-45-opacity-50: rgba(94,112,126,0.5);
$lightgray-darken-20:         #a1afba;
$base-lightgray:              #dce1e5;
$lightgray-lighten-6:         #eef0f2;
$base-white:                  #ffffff;
$white-opacity-50:            rgba(255,255,255,0.5);
$lightgray-darken-80-opacity-30: rgba(17,21,23,0.3);

// Interactive blue
$base-interactive-blue:       #005aa3;
$light-interactive-blue:      #0076d6;

// Utility colors
$base-success-green:          #2ecc40;
$success-green-darken-20:     #1b7926;
$base-warning-yellow:         #ffdc00;
$warning-yellow-darken:       #efca08;

$base-danger-red:             #ff4136;
$danger-red-darken-20:        #cf0b00;
$base-info-blue:              #0074d9;


// Link color
$link-color:                  $base-navy;
$link-color-light:            $base-interactive-blue;
$link-color-hover:            $light-interactive-blue;
$menu-link-color:             $lightgray-darken-80;
$quick-link-hover-color:      rgba(255,255,255,0.12);

// Button colors
$button:                      #005099;
$button-hover:                #1c64a4;

$button-default:              #005099;
$button-default-hover:        #1c64a4;
$button-default-active:       #054682;

$button-tertiary-border:      #e2e2e2;
$button-tertiary-hover:       #d4e3f0;
$button-tertiary-active:      #a4c3de;

$button-disabled:             #9caab5;
$button-disabled-border:      #d4d4d4;
$button-disabled-background:  #edeef0;


$background-gray:             #e8ecf0;
$background-mist:             $mist-lighten-20;
$border-color:                $lightgray-lighten-6;
$border-color-dark:           $lightgray-darken-20;

$background-colors: // background, display, header, body, link, caption
	( '#ffffff'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-45}'
    )
	, '#{$lightgray-lighten-6}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    ) 
  , '#{$base-lightgray}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    ) 
  , '#{$base-mist}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}'
    ) 
  , '#{$mist-lighten-20}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-clay}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$clay-lighten-10}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-sandstone}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}'
    )
  , '#{$sandstone-lighten-20}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$base-interactive-blue}',
      '#{$lightgray-darken-60}'
    )
  , '#{$base-gold}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}',
      '#{$lightgray-darken-60}'
    ) 
  , '#{$base-navy}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-moss-web}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-seagreen-web}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-aqua-web}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#{$base-coral}'
    ( '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}',
      '#{$lightgray-darken-80}'
    ) 
  , '#{$coral-darken-15-desat-15}'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  , '#000000'
    ( '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}',
      '#{$base-white}'
    )
  );

/*
Color field presets
#eef0f2,
#dce1e5,
#9cbebe,
#dae6e6,
#dcd6cc,
#f1eeea,
#c9bf9d,
#edeadf,
#febc11,
#003660,
#6d7d33,
#09847a,
#047c91,
#ef5645,
#c43424,
#000000
*/

// Padding 
$blade-padding-values: ('none':0, '1':1, '2':2, '3':3, '4':4);
$blade-padding: 36px 0 36px 0;
$mobile-blade-padding: 0 0 36px 0;
$blade-padding-with-background: 72px 0 108px 0;
