@import "application";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://library.ucsd.edu/assets/resources/campus.css");

//------------------------------------------------------------------------------
// SASS Variables
//------------------------------------------------------------------------------

$color-appbar: #182B49;
$color-appbar-accent: #182B49;
$color-appbar-dark: #012536;
$color-appbar-bright: #fff;
$color-appbar-text: rgba(255,255,255,0.666);

$color-sidebar: #fff;
$color-sidebar-accent: #d8d7d7;
$color-sidebar-dark: #00629b;
$color-sidebar-active-parent: #004268;

//------------------------------------------------------------------------------
// App Bar
//------------------------------------------------------------------------------

#app-bar
{
  background: $color-appbar;

  // Buttons
  .navbar-nav > li > a
  {
    color: $color-appbar-text;
  }
  .navbar-nav > li > a:hover
  {
    color: $color-appbar-bright;
  }
  .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus
  {
    color: $color-appbar-bright;
    background-color: $color-appbar-dark;
  }
	.dropdown-menu {
		border-radius: 0;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
}

/* MEDIA QUERIES - Remember, Bootstrap is "Mobile first" */
@media (min-width: 768px) {
  #app-bar {

    min-height: 30px;
    max-height: 30px;

		.navbar-nav > li {
			height: 30px;
		}

    .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
			display: inline-block;
			height: 30px;
      font-size: 75%;
      padding: 5px 10px;
    }

    .navbar-nav > li > a[data-behavior="contact-link"] {
      margin-right: 5px;
    }

		.dropdown-menu {
			margin-top: 1px;
			a {
				font-size: 0.75rem;
			}
		}
  }
}
@media (max-width: 767.98px) {

  #app-bar {

    border-color: $color-appbar-bright;

    .navbar-nav .open .dropdown-menu .divider {
      background-color: $color-appbar-accent;
    }

    .navbar-collapse, #facet-panel-collapse, .navbar-form {
      border-color: $color-appbar-dark;
    }

    .navbar-collapse, #facet-panel-collapse {
      box-shadow: inset 0 1px 0 $color-appbar-accent;
    }

    .navbar-right > ul {
      margin: 0 -15px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
      color: $color-appbar-text;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover {
      color: $color-appbar-bright;
    }

    .navbar-toggle, .facets-toggle {
      border-color: $color-appbar-accent;
    }

    .navbar-toggle:focus, .facets-toggle:focus, .navbar-toggle:hover, .facets-toggle:hover {
      border-color: $color-appbar-accent;
      background-color: $color-appbar-dark;
    }

		#bookmarks_nav {
			padding-top: 8px;
			padding-bottom: 8px;
			display: block;
		}

  }
}

//------------------------------------------------------------------------------
// Campus-like HTML (Decorator v5)
//------------------------------------------------------------------------------

body
{
  font: normal normal normal 16px/1.7 Roboto, sans-serif !important;
  color: #333;
  margin-bottom: 0 !important;
}

//------------------------------------------------------------------------------
// Campus-like Header
//------------------------------------------------------------------------------

.layout-header {

  .layout-title {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    height: 92px;
    width: 100%;
    background: #fff;
    padding: 1.5em 0;
  }

	.title-header {
    display: flex;
		align-items: center;
  }

  .title-header a {
    color: #000;
    font-size: 21.6px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .title-header a:hover {
    color: #666;
    text-decoration: none;
  }

  .title-logo a {
    height: 46px;
    overflow: hidden;
  }

  .title-logo a > img {
    float: right;
    width: 225px;
    height: 46px;
  }
}

/* MEDIA QUERIES - Remember, Bootstrap is "Mobile first" */
@media (max-width: 767px) {
  .layout-header {

    .layout-title {
      height: 61px;
      padding: 15px 0;
    }

    .title-header a {
      font-size: 18px;
      letter-spacing: normal;
    }

    .title-logo {
      height: 31px;
    }

    .title-logo a > img{
      width: 150px;
      height: 31px;
    }
  }
}

//------------------------------------------------------------------------------
// Campus-like Breadcrumbs
//------------------------------------------------------------------------------

.breadcrumbs-container {

  margin-bottom: 21.6px;

  .breadcrumb {

    background-color: transparent;
    color: #666;
    font-size: 80%;
    padding: 0;

    > .active {
      color: #777;
    }

    a {
      color: #016691;
    }

    a:focus, a:hover {
      color: #23527c;
    }
  }
}

//------------------------------------------------------------------------------
// Campus-like Left-hand Navigation Menu
//    - Note: "Feature pages" & "About pages" render this menu differently
//    - Note: "Dashboard" pages draw menu like "About pages"
//------------------------------------------------------------------------------

#main-container {

  #sidebar {

    .nav-heading {
      border: 1px solid $color-sidebar-accent !important;
			background: #d8d7d744;
      border-bottom: none !important;
      color: #016691;
      font-size: 22.4px;
			margin: 0;
			padding: 1em;
			display: block;
    }

    // "Feature pages"
    > ol {
      border: 1px solid $color-sidebar-accent;
      border-bottom: none;
			margin-bottom: 0;
      > li {
        border-bottom: 1px solid $color-sidebar-accent;
        margin-top: 0;
        > h2 {
          display: block;
					margin-bottom: 0;
					a {
						color: $color-sidebar-active-parent;
						padding: 1em;
						font-weight: 700;
					}
        }
        a {
          color: $color-sidebar-dark;
					display: block;
					font-weight: 700;
          &:hover {
						color: #484949;
          }
        }
      }
      .active {
				h2 {
					background: #FFFEE6;
					padding: 1em;
					font-weight: 700;
					color: $color-sidebar-active-parent !important;
          cursor: pointer;
				}
      }
      .subsection {
				margin-bottom: 0;
				padding: 0;
        li {
          list-style-type: none;
          border-top: 1px solid $color-sidebar-accent;
          border-bottom: none;
          font-size: 13.6px;
          margin: 0 !important;
        }
        .active {
					background: #FFFEE6;
          color: $color-sidebar-dark !important;
					padding: 1em 1em 1em 2em;
					cursor: pointer;
				}
				a {
					padding: 1em 1em 1em 2em;
				}
      }
    }

    // "About pages"
    > ul {
			border: 1px solid $color-sidebar-accent;
			border-bottom: none;
			li {
				border-bottom: 1px solid $color-sidebar-accent;
				margin-top: 0;
				a {
					color: $color-sidebar-active-parent;
					padding: 1em;
					font-weight: 700;
					&:hover {
						color: #484949;
						text-decoration: underline;
					}
				}
			}
			.active {
				background: #FFFEE6;
			}
    }

    .contacts-header {
      margin: 0;
      color: $color-sidebar-dark;
      font-size: 140%;
      font-weight: normal;
    }

    .contacts {
      margin: 0 0 21.6px 0;
      border: none;
      background-color: transparent;
			border: 1px solid #d8d7d7 !important;
      li {
        border: none;
        background-color: transparent;
				padding: 15px !important;
				margin-bottom: 0 !important;
				border-bottom: 1px solid #d8d7d7 !important;
        div {
          font-size: 90%;
          line-height: 1.4;
        }
        a {
          padding: 0;
          color: $color-sidebar-active-parent;
          &:hover {
            color: $color-sidebar-active-parent;
            text-decoration: underline;
            background-color: transparent;
          }
        }
      }
			li:last-child {
				border-bottom: none !important;
			}
    }
  }

  div > .page-title {
    margin-top: 0;
  }
}

@media (max-width: 991.98px) {
	#main-container {
		#sidebar {
			margin-top: 45px;
		}
	}
}
@media (max-width: 767.98px) {
	#main-container {
		#content {
			.page-title {
				font-size: 1.5rem;
			}
		}
	}
}

// Fixes buttons wrapped in menu <ul>
#sidebar {
	.nav-pills {
		border: none !important;
		.nav-item {
			width: 100%;
			border: none !important;
			a {
				width: 100%;
				margin: 0;
				padding: 0;
				background: #007bff;
				color: #fff !important;
				border: none;
				text-decoration: none !important;
			}
			a:hover {
				background: #0069d9;
			}
		}
	}
}

// Contacts
#sidebar {
	.contacts {
		border: 1px solid gray;
		li {
			padding: 15px;
			margin-bottom: 0;
		}
	}
}

//------------------------------------------------------------------------------
// Masthead
//------------------------------------------------------------------------------

.masthead {
  background-color: #747678;
	.background-container {
		filter: blur(0);
	}
  .site-title-container {
    max-height: none; // Title fix
		padding: 15px 30px !important;
    .site-title-wrapper {
			margin: 32px 0;
			text-transform: uppercase;
			font-weight: 700;
			white-space: normal; // Title fix
			padding: 0;
			.site-title {
				color: #fff;
				font-size: 1rem;
				width: 100%;
			}
      small {
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.8rem;
        line-height: 1;
				display: block !important;
				padding-bottom: 0 !important;
      }
    }
  }
	#exhibit-navbar {
		background: #00629B;
		padding: 0;
		.navbar-nav {
			.nav-item {
				a[aria-expanded="true"] {
					background-color: #014663
				}
				.nav-link {
					color: #fff;
					padding: 15px;
				}
				.nav-link:hover {
					background-color: #014663;
				}
			}
		}

		#search {
			background: #004268;
			border-color: #182B49;
		}
		#search:hover {
			background-color: #182B49;
		}
		.dropdown-menu {
			background-color: #004268;
			border: none;
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			border-radius: unset;
			padding-top: 0;
			padding-bottom: 0;
			.dropdown-item {
				font-size: 14px;
				color: #fff;
				padding: 6px 20px;
			}
			.dropdown-item:hover {
				color: #262626;
				background-color: #f5f5f5;			}
		}
	}
}

.image-masthead {
  .btn-primary {
    background-color: #444;
    border-color: #666;
    border-radius: 0;
  }
}

/* MEDIA QUERIES - Remember, Bootstrap is "Mobile first" */
@media (min-width: 768px)
{
  .masthead {
    .site-title-container {
			.site-title-wrapper {
				.site-title {
					font-size: 1.5rem;
				}
				small {
					font-size: 1.2rem !important;
				}
			}
    }
  }
}
@media (min-width: 992px) {
  .masthead {
    .site-title-container {
      .site-title-wrapper {
        margin: 64px 0;
				.site-title {
					font-size: 2rem;
				}
				small {
					font-size: 1.4rem !important;
				}
      }
    }
  }
}
@media (max-width: 767.98px) {
	#exhibit-navbar {
		.navbar-nav {
			.nav-item {
				.nav-link {
					padding: 8px 15px !important;
					font-size: 14px;
				}
			}
		}
		.exhibit-search-form {
			margin: 0 !important;
			padding: 0 15px 8px 15px !important;
		}
	}

	.masthead {
		.site-title-container {
			.site-title-wrapper {
				margin: 15px 0 !important;
			}
		}
	}

}

//------------------------------------------------------------------------------
// Campus-like Footer
//------------------------------------------------------------------------------

.footer {

  background-color: #00629B;
  padding: 21.6px;
  color: #fff;
  font-size: .9em;
  margin-top: 43.2px;

  .footer-links {
    list-style: none;
    margin: .5em 0 0;
    padding: 0;
  }

  .footer-links > li {
    display: inline;
    margin-left: 0;
    margin-right: .5em;
    padding-right: .75em;
    border-right: 1px solid #fff;
  }

  .footer-links > li:last-child {
    border-right: none;
  }

  .footer-links > li a {
    color: #fff;
    text-decoration: underline;
  }

  .footer-logo {
    width: 158px;
    height: 30px;
    float: right;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

/* MEDIA QUERIES - Remember, Bootstrap is "Mobile first" */
@media (max-width: 767px) {
  .footer {

    padding-right: 0;
    padding-left: 0;

    .footer-logo {
      float: none;
      margin-top: 15px;
    }
  }
}

//------------------------------------------------------------------------------
// Other Tweaks (Non-campus theme related)
//------------------------------------------------------------------------------

// Nav Bar Search Form (Adds white space below form)
#new_contact_form {
  padding-bottom: 15px;
}

// https://gitlab.com/surfliner/surfliner/issues/226
#main-container {
  div.st-blocks:last-child {
    padding-bottom: 200px;
  }
}

/* MEDIA QUERIES - Remember, Bootstrap is "Mobile first" */

// Medium devices (Tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (Desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (Large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Mobile View
@media (max-width: 767px) {

  // Nav Bar Search Form (Fixes oddball horizontal scroll overflow issue) [Mobile view]
  .navbar-form {
    padding: 0;
    margin: 0 15px;
  }
}

//------------------------------------------------------------------------------
// Search Results Tweaks
//------------------------------------------------------------------------------

// List/Gallery View - Description List Fix (Copied from Stanford)
.documents-list .document .document-metadata dt,
.documents-list .document .document-metadata dd,
.documents-gallery .document .document-metadata dt,
.documents-gallery .document .document-metadata dd
{flex:0 0 100%;max-width:100%;padding-left:0;padding-right:0;float:none;width:auto;clear:none;text-align:left;margin:0;}

// List/Gallery View - Customizations
.documents-list .document-title-heading, .documents-gallery .document-title-heading {font-size: 20px;padding: 0;font-weight: bold;}
.documents-list .document-title-heading {padding: 0 15px !important;}
.documents-list .document-title-heading a, .documents-gallery .document-title-heading a {color: #00629b;}
.documents-list .document-metadata, .documents-gallery .document-metadata {font-size: 14px;line-height: 1.5;} /* The <dl> */
.documents-list .document-metadata dt, .documents-gallery .document-metadata dt {color: #6e963b;}
.documents-list .document-metadata dd, .documents-gallery .document-metadata dd {margin-bottom: 5px;}
.documents-list .documentHeader .document-counter, .documents-gallery .documentHeader .document-counter {display: none;}

// Gallery View - Bookmark Control Fix
.documents-gallery .documentHeader {
  flex-direction: column-reverse;
  .index-document-functions{
    padding: 0;
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 5px;
    label {
      display: flex;
      flex-direction: row-reverse;
      font-size: 12px;
      line-height: 1;
      color: #747678;
      input[type=checkbox]{
        width: 12px;
        height: 12px;
        margin-left: 5px;
        color: #747678;
      }
    }
  }
}

// List View - Bookmark Control Fix
.documents-list .documentHeader {
  .index-document-functions{
    margin-bottom: 0 !important;
    label {
      display: flex;
      flex-direction: row-reverse;
      font-size: 12px;
      line-height: 1;
      color: #747678;
      input[type=checkbox]{
        width: 12px;
        height: 12px;
        margin-left: 5px;
        color: #747678;
      }
    }
  }
}

// List View - Separator Color Fix (Campus theme)
.sort-pagination, .pagination-search-widgets{border-bottom: 1px solid #b6b1a9;}
.documents-list .document{border-bottom: 1px solid #b6b1a966;}

// Masonry View - Apparently this is the missing CSS (Copied from Stanford)
.documents-masonry .document {
  max-width:32%;
  padding:0;
  margin:0;
  margin-bottom:0.5rem;
  position:relative;
  width:auto;
 }
 .documents-masonry .document:hover .caption-area,
 .documents-masonry .document:focus .caption-area {
  display:block
 }
 .documents-masonry .document .thumbnail-container {
  position:relative;
  min-height:100px;
  background-color:#747678;
 }
 .documents-masonry .document .img-thumbnail {
  padding:0;
  border-radius:0;
 }
 .documents-masonry .document .caption-area {
  display:none;
  padding:10px;
  background-color:rgba(0,0,0,0.666) !important;
  position:absolute;
  bottom:0;
  overflow-x:hidden;
  overflow-y:scroll;
  max-height:100%;
  width:100%;
 }
 .documents-masonry .document .caption-area:first-child {
  display:block;
  max-height:100%;
  background-color:rgba(0,0,0,0.666) !important;
  width:100%;
 }
 .documents-masonry .document .document-counter {
  display:none;
 }
 .documents-masonry .document .index_title a,
 .documents-masonry .document .index_title a:hover,
 .documents-masonry .document .index_title a:visited,
 .documents-masonry .document .index_title a:active {
  color:#fff;
 }
 .documents-masonry .document .document-metadata dt {
  color:#b6b1a9;
 }
 .documents-masonry .document .document-metadata dt,
 .documents-masonry .document .document-metadata dd {
  flex:0 0 100%;
  max-width:100%;
  padding-left:0;
  padding-right:0;
  float:none;
  width:auto;
  clear:none;
  text-align:left;
  margin:0;
 }

 // Masonry View - Customizations
.documents-masonry .document-title-heading{padding:0;margin:0;}
.documents-masonry .document-title-heading a{font-size: 14px;padding: 0;font-weight: bold;color:#fff;line-height: 1.2;display: inline-block;}
.documents-masonry .document-metadata{line-height: 1.2;color: #fff;margin-bottom:0;} /* The <dl> */
.documents-masonry .document-metadata dt{font-size: 10px;}
.documents-masonry .document-metadata dd{font-size: 12px;margin-bottom: 0;}
.documents-masonry .documentHeader .document-counter{display: none;}
.documents-masonry .document-thumbnail .img-thumbnail{border:none;}
@media (max-width: 767.98px) {
  .documents-masonry .document{max-width:49%;}
}
@media (max-width: 575.98px) {
  .documents-masonry .document{max-width:100%;}
}

// Masonry View - Bookmark Control Fix
.documents-masonry .documentHeader {
  flex-direction: column-reverse;
  .index-document-functions{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    label {
      display: flex;
      flex-direction: row-reverse;
      font-size: 10px;
      line-height: 1;
      color: #fff;
      input[type=checkbox]{
        width: 10px;
        height: 10px;
        margin-left: 5px;
        color: #fff;
      }
    }
  }
}