/*
/*
 *= require blacklight_oembed.css.scss
 *= require blacklight_gallery.css.scss
 *= require bootstrap-tagsinput
 *= require openseadragon.css
 *= require openseadragon/openseadragon
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'spotlight/spotlight';

@import 'sir-trevor/main';
@import 'leaflet';

@import 'themes/ucsb/default-variables';
@import 'themes/ucsb/overrides';
@import 'application_ucsb';

@mixin inline($separator, $distance) {
  &, & > li {
    /* http://www.alistapart.com/articles/taminglists/ */
    display: inline-block;
    margin: 0;
    padding-left: 0;
  }
  & > li + li {
    // old IE doesn't recognize ::before, so this keeps items at least a little separate
    padding-left: $distance/2;
    &::before {
      font-style: normal;
      content: $separator;
      padding-right: $distance/2;
    }
  }
}

// Surfliner Primary color
$surf-base-navy:                #005581;
$surf-navy-darken:              #004468;

// ------
// Header
// ------

// to match #eyebrow

#eyebrow {
  background-color: $surf-base-navy;
  a:hover,
  a:focus {
    text-decoration: none;
  }

  .dropdown-menu {
    background-color: $surf-base-navy;
    border-radius: 0;
    left: inherit;
    margin-top: 10px !important;
    padding: 0;
    right: 0;

    li > a:hover {
      background-color: $surf-navy-darken !important;
    }
  }
}

////////////
// FOOTER
////////////

footer {
  background-color: $surf-base-navy;
  color: $white;
  margin-top: 1em;
  min-height: 8em;
  overflow: hidden;
  padding: 3em 0 0;

  img {
    width:200px;
    height:70px;
  }
}

//////////
// MISC
//////////

.exhibit-navbar {
  .navbar-brand {
    color: $surf-base-navy !important;

    :hover,
    :active {
      color: $surf-base-navy !important;
    }
  }
}
