@import "themes/surfliner/variables"; // needs to precede `application`
@import "application_ucsb";

#footer>div {
  padding-top: 6.625rem;

  h6 svg {
    // The Project Surfliner logo is much taller.
    margin-top: -4.575rem;
    height: 6.25rem;
  }
}
