/*
 *= require blacklight_oembed.css.scss
 *= require blacklight_gallery.css.scss
 *= require openseadragon.css
 *= require openseadragon/openseadragon
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'spotlight/spotlight';

@import 'sir-trevor/main';
@import 'leaflet';

@import 'themes/ucsb/default-variables';
@import 'themes/ucsb/overrides';

@mixin inline($separator, $distance) {
  &, & > li {
    /* http://www.alistapart.com/articles/taminglists/ */
    display: inline;
    margin: 0;
    padding-left: 0;
  }
  & > li + li {
    // old IE doesn't recognize ::before, so this keeps items at least a little separate
    padding-left: $distance/2;
    &::before {
      font-style: normal;
      content: $separator;
      padding-right: $distance/2;
    }
  }
}

// ------
// Header
// ------

// to match #eyebrow
.header-navbar {
  height: 36px;
}
.navbar {
  min-height: 36px;
}

#eyebrow {
  a:hover,
  a:focus {
    text-decoration: none;
  }

  .edu-link:hover {
    text-decoration: underline;
  }

  .dropdown-menu {
    background-color: $base-navy;
    border-radius: 0;
    left: inherit;
    margin-top: 10px !important;
    padding: 0;
    right: 0;

    li > a:hover {
      background-color: $navy-darken-4 !important;
    }

    a {
      padding: 12px 24px;
      text-transform: none !important;
    }
  }
}

#sidebar {
  padding: 0 2em;
}

.st__content-block--text {
  margin-bottom: 10px;
}

.exhibit-navbar {
  background-color: $base-lightgray !important;
  border-color: $base-lightgray !important;
}

//////////
// BROWSE
//////////

.breadcrumb {
  margin: 0 0 20px !important;
}

.browse-category-title {
  color: white;
  top: 40% !important;
}

.image-overlay {
  margin-right: 1em;
}

////////////
// FOOTER
////////////

footer {
  background-color: $base-navy;
  color: white;
  min-height: 8em;
  overflow: hidden;
  padding: 1em;
}

//////////
// MISC
//////////
.flat {
  @include inline(" ", 4px);
}

.btn {
  padding: 10px 20px !important;
}

.form-control {
  padding: 10px !important;
}

.help-block,
.control-group .help-inline {
  display: inline !important;
}
