# https://github.com/seuros/capistrano-sidekiq/blob/master/lib/generators/capistrano/sidekiq/systemd/templates/sidekiq.service.capistrano.erb
[Unit]
Description=sidekiq for starlight
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/home/{{ deploy_user }}/.systemctl-variables
WorkingDirectory={{ app_root }}
ExecStart={{ ruby_bin_root }}/bundle exec sidekiq -e production
ExecReload=/bin/kill -TSTP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
User={{ deploy_user }}
Group={{ deploy_group }}

RestartSec=1
Restart=on-failure

SyslogIdentifier=sidekiq

[Install]
WantedBy=default.target
