BINARY_ROOT="{{ binary_root }}"
DATABASE_AUTH=
DATABASE_URL="postgres://{{ db_user }}:{{ db_pass | urlencode | regex_replace('/','%2F') }}@{{ db_host }}/{{ db_name }}"
FROM_EMAIL="{{ from_email }}"
HOSTNAME="{{ fqdn }}"
PROJECT_PATH="{{ project_base }}/{{ project_name }}"
PORT="3000"
RAILS_ENV="production"
RAILS_MAX_THREADS="5"
RAILS_QUEUE="sidekiq"
REDIS_URL="redis://localhost:6379"
SECRET_KEY_BASE="{{ rails_secret_key_base }}"
SHIB_APPLICATION_ID_FIELD="{{ shib_app_id }}"
SHIB_EMAIL_FIELD="{{ shib_email }}"
SHIB_SESSION_ID_FIELD="{{ shib_session_id }}"
SHIB_UID_FIELD="{{ shib_uid }}"
SITEMAP_DEFAULT_HOST="http://localhost"
SMTP_HOST="{{ smtp_host }}"
SOLR_URL="http://{{ solr_host }}:8983/solr/{{ solr_core }}"
