<h4 class="nav-heading"><%= t("starlight.sidebar_preamble.additional_links") %></h4>
<ul class="nav sidenav flex-column">
  <li class="nav-item"><a class="nav-link" href="https://library.ucsd.edu/">UC San Diego Library</a></li>
  <li class="nav-item"><a class="nav-link" href="https://library.ucsd.edu/dc">Digital Collections</a></li>
  <li class="nav-item"><a class="nav-link" href="https://library.ucsd.edu/news-events/exhibits/">Online and Library Exhibits</a></li>
  <li class="nav-item"><a class="nav-link" href="https://library.ucsd.edu/research-and-collections/special-collections-and-archives/resources/index.html">Special Collections & Archives Online Resources</a></li>
</ul>
