<h4 class="nav-heading"><%= t("starlight.sidebar_preamble.additional_links") %></h4>
<ul class="nav sidenav flex-column">
  <li class="nav-item"><a href="https://www.library.ucsb.edu/events-exhibitions">Events &amp; Exhibitions</a></li>
  <li class="nav-item"><a href="https://www.library.ucsb.edu/special-collections">Special Research Collections</a></li>
  <li class="nav-item"><a href="https://www.library.ucsb.edu/special-collections/digital-collections">Digital Collections</a></li>
  <li class="nav-item"><a href="https://docs.digital.library.ucsb.edu/starlight/documentation">Exhibits Documentation</a></li>
</ul>
