apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "shoreline.fullname" . }}-env
  labels:
{{ include "shoreline.labels" . | indent 4 }}
data:
  APP_URL: http{{ if .Values.ingress.tls }}s{{ end }}://{{ index .Values.ingress.hosts 0 }}
  CONTACT_EMAIL: {{ .Values.shoreline.email.contact_email }}
  DATABASE_ADAPTER: postgresql
  DATABASE_COMMAND: {{ .Values.shoreline.db_setup_command }}
  DELIVERY_METHOD: {{ .Values.shoreline.email.delivery_method }}
  GEOBLACKLIGHT_DOWNLOAD_PATH: {{ .Values.shoreline.geoblacklightDownloadPath }}
  GEOSERVER_HOST: {{ .Values.geoserver.ingress.hosts | first }}
  GEOSERVER_INTERNAL_HOST: {{ template "shoreline.geoserver.fullname" . }}
  GEOSERVER_PORT: "80"
  GEOSERVER_USER: admin
  POSTGRES_DB: {{ .Values.postgresql.postgresqlDatabase }}
  POSTGRES_HOST: {{ template "shoreline.postgresql.fullname" . }}
  POSTGRES_PORT: {{ .Values.postgresql.servicePort | quote }}
  RAILS_ENV: production
  RAILS_LOG_TO_STDOUT: "true"
  RAILS_SERVE_STATIC_FILES: "true"
  SHORELINE_ACCESS: {{ .Values.shoreline.access }}
  SHORELINE_PROVENANCE: {{ .Values.shoreline.provenance }}
  SHORELINE_SUPPRESS_TOOLS: {{ .Values.shoreline.suppressTools | quote }}
  SHORELINE_THEME: {{ .Values.shoreline.theme }}
  {{- if eq "smtp" .Values.shoreline.email.delivery_method }}
  SMTP_AUTHENTICATION: {{ .Values.shoreline.email.smtp_settings.authentication }}
  SMTP_HOST: {{ .Values.shoreline.email.smtp_settings.address }}
  SMTP_PASSWORD: {{ .Values.shoreline.email.smtp_settings.password }}
  SMTP_PORT: {{ .Values.shoreline.email.smtp_settings.port | quote }}
  SMTP_USERNAME: {{ .Values.shoreline.email.smtp_settings.user_name }}
  {{- end }}
  SOLR_CORE_NAME: {{ .Values.shoreline.solr.collectionName }}
  SOLR_HOST: {{ template "shoreline.solr.fullname" . }}-svc
  SOLR_PORT: "8983"
  ZK_HOST: {{ template "shoreline.zk.fullname" . }}
  ZK_PORT: "2181"
