apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "shoreline.fullname" . }}
  labels:
    {{- include "shoreline.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "shoreline.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "shoreline.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      initContainers:
        - name: load-solr-config
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: {{ include "shoreline.fullname" . }}-env
            - secretRef:
                name: {{ include "shoreline.fullname" . }}
          command:
            - sh
            - -c
            - >
              solrcloud-upload-configset.sh /home/shoreline/discovery/app/solr/conf &&
              solrcloud-assign-configset.sh
        - name: setup-db
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          envFrom:
            - configMapRef:
                name: {{ include "shoreline.fullname" . }}-env
            - secretRef:
                name: {{ template "shoreline.fullname" . }}
          command:
            - sh
            - -c
            - db-setup.sh
      volumes:
        - name: downloads
          emptyDir: {}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: downloads
              mountPath: /data/tmp/cache/downloads
          envFrom:
            - configMapRef:
                name: {{ include "shoreline.fullname" . }}-env
            - secretRef:
                name: {{ template "shoreline.fullname" . }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
