<div class="base-terms">
  <%= render "hyrax/base/form_metadata_terms_at_level", f: f, level: "primary" %>
</div>
<% if f.object.display_additional_fields? %>
  <%= link_to t('hyrax.works.form.additional_fields'),
              '#extended-terms',
              class: 'btn btn-default additional-fields',
              data: { toggle: 'collapse' },
              role: "button",
              'aria-expanded'=> "false",
              'aria-controls'=> "extended-terms" %>
  <div id="extended-terms" class='collapse'>
    <%= render 'form_media', f: f %>
    <%= render "hyrax/base/form_metadata_terms_at_level", f: f, level: "secondary" %>
  </div>
<% end %>
